/* Dropdown Scrollable */
.dropdown-content {
  max-height: 10em;
  overflow: auto;
  width: 155px;
}
/* Hides dropdown when nothing is selected */
.dropdown-hidden {
  display: none;
}

div#dropdown-menu3.dropdown-menu {
  min-width: 155px;
}
